<header>
    <div class="page-header min-height-400" style="background-image: url('../assets/img/loginbg.jpg');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-8"></span>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <!-- START Testimonials w/ user image & text & info -->
    <section class="py-sm-7 py-5 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto">
            <div class="mt-n8 mt-md-n9 text-center">
              <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="../assets/img/bruce-mars.jpg" alt="bruce" loading="lazy">
            </div>
            <div class="row py-5">
              <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h3 class="mb-0">{{dataResponse[0].name}}</h3>
                  <div class="d-block">
                    <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0" (click)="logout()">Logout</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 pe-2 mb-3">
                    <div class="input-group input-group-static mb-4">
                      <label>Name</label>
                      <input type="text" class="form-control" value="{{dataResponse[0].name}}">
                    </div>
                  </div>
                  <div class="col-md-12 pe-2 mb-3">
                    <div class="input-group input-group-static mb-4">
                      <label>Email</label>
                      <input type="text" class="form-control" value="{{dataResponse[0].email_id}}">
                    </div>
                  </div>
                  <div class="col-md-12 pe-2 mb-3">
                    <div class="input-group input-group-static mb-4">
                      <label>Phone</label>
                      <input type="text" class="form-control" value="{{dataResponse[0].phone_no}}">
                    </div>
                  </div>
                  <div class="col-md-12 pe-2 mb-3">
                    <div class="input-group input-group-static mb-4">
                      <label>Upload profile picture</label>
                      <input type="file" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12 pe-2 mb-3">
                    <div class="input-group input-group-static mb-4">
                      <label>Otp</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-md-6 text-end ms-auto">
                    <button type="submit" class="btn bg-gradient-info mb-0">Update profile</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- END Testimonials w/ user image & text & info -->
    <!-- START Blogs w/ 4 cards w/ image & text & link -->
    
  </div>