<div class="page-header align-items-start min-vh-100" style="background-image: url('../assets/img/loginbg.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      
      <div *ngIf="successMsg" class="alert alert-success text-white font-weight-bold" role="alert">
        Thank you for registering with us. Please <span style="cursor:pointer" routerLink="/login">click here</span> to login.
      </div>
      <div *ngIf="errorMsg" class="alert alert-danger text-white font-weight-bold" role="alert">
        Oops!! Something went wrong. {{dataResponse.message}}.
      </div>
      
      <div class="row">     
        <div class="col-lg-4 col-md-8 col-12 mx-auto">         
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Z-Trait</h4>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="signUpForm" (ngSubmit)="submitSignupForm()" class="text-start">
                <div class="input-group input-group-outline my-3">
                  <input type="text" class="form-control" placeholder="Name *" formControlName="name">
                </div>
                <span class="error" *ngIf="(signUpForm.get('name').touched || submitted) && signUpForm.get('name').errors?.required">This field is required</span>
                <div class="input-group input-group-outline my-3">
                  <input type="email" class="form-control" placeholder="Email *" formControlName="email">
                </div>
                <span class="error" *ngIf="(signUpForm.get('email').touched || submitted) && signUpForm.get('email').errors?.required">This field is required</span>
                <div class="input-group input-group-outline my-3">
                  <input type="text" class="form-control" placeholder="Phone *" formControlName="phone">
                </div>
                <span class="error" *ngIf="(signUpForm.get('phone').touched || submitted) && signUpForm.get('phone').errors?.required">This field is required</span>
                <div class="input-group input-group-outline mb-3">
                  <input type="password" class="form-control" placeholder="Password *" formControlName="password">
                </div>
                <span class="error" *ngIf="(signUpForm.get('password').touched || submitted) && signUpForm.get('password').errors?.required">This field is required</span>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign up</button>
                </div>
                <p class="mt-4 text-sm text-center" routerLink="/login" style="cursor: pointer;">
                  Have an account?
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>